compatibility-diagnosis-list {
  ion-content {
    .navigation {
      width: 100%;
      padding: 0.5rem 0;
      text-align: center;
      background-color: $background-color;
      border-bottom: 1px solid color($colors, light-low);

      button {
        padding: 0.5rem 1.0rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: color($colors, dark-high);
        background-color: color($colors, light);
        border: solid 2px #ccc;
        border-radius: 6px;

        .app-icon {
          height: 2.8rem;
          vertical-align: middle;
        }

        ion-icon {
          font-size: 2.8rem;
          margin-left: 0.5rem;
          vertical-align: middle;
        }
      }
    }

    .results {
      margin-top: 5.5rem;

      ion-item-sliding ion-item {
        padding-left: 0;
        padding-right: 0;
        position: relative;

        .item-inner {
          padding-left: 0 !important;
          padding-right: 0 !important;

          ion-label {
            margin: 5px !important;
            display: flex;
            align-items: center;
          }
        }

        .figures {
          width: 40%;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          text-align: center;

          img.figure {
            width: 44%;
            max-width: 180px;
            border-radius: 1.5rem;
            vertical-align: middle;
            background-color: color($colors, light);
          }

          img.entry1 {
            border: solid 0.2rem color($colors, primary);
          }

          img.entry2 {
            border: solid 0.2rem color($colors, secondary);
          }

          .multiply {
            display: inline-block;
            position: relative;
            margin: 0 0.25rem;
            padding: 0;
            width: 0.2rem;
            height: 1.0rem;
            background: rgb(46, 15, 16);
            transform: rotate(45deg);
            border-radius: 1.0rem;

            &:before{
              display: block;
              padding: 0;
              content: "";
              position: absolute;
              top: 50%;
              left: -0.4rem;
              width: 1.0rem;
              height: 0.2rem;
              margin-top: calc(-0.2rem/2);
              background: rgb(46, 15, 16);
              border-radius: 1.0rem;
            }  
          }
        }

        .names {
          width: 40%;
          margin-top: -1.0rem;
          margin-left: 0.2rem;
          font-size: 1.8rem;
          color: color($colors, dark);

          @media screen and (min-width: 768px) and (min-height: 1024px) {
            font-size: 2.2rem;
          }

          @media screen and (min-width: 1024px) and (min-height: 1366px) {
            font-size: 2.6rem;
          }

          .entry1 {
            text-decoration-line: underline;
            text-decoration-color: color($colors, primary);
          }

          .entry2 {
            text-indent: 1.0rem;
            text-decoration-line: underline;
            text-decoration-color: color($colors, secondary);
          }
        }

        .date {
          position: absolute;
          right: 20%;
          bottom: 5px;
          text-align: right;
          font-size: 1.2rem;
          color: color($colors, dark-high);
        }

        .rate {
          position: relative;
          width: 20%;
          max-width: 180px;
          padding: 1.0rem;
          text-align: center;
          font-weight: bold;
          color: #555;

          .title {
            position: absolute;
            top: calc(50% - (1.8rem/2) - 0.2rem - 1.0rem);
            z-index: 1;
            width: 100%;
            margin-left: -1.0rem;
            font-size: 1.0rem;
            text-shadow:
              -1px -1px 0px color($colors, light-low),
              -1px -1px 0px color($colors, light-low),
              -1px 1px 0px color($colors, light-low),
              -1px 1px 0px color($colors, light-low),
              -1px 1px 0px color($colors, light-low);
          }

          .percent {
            position: absolute;
            top: calc(50% - (1.8rem/2));
            z-index: 1;
            width: 100%;
            margin-left: -1.0rem;
            font-size: 1.8rem;

            &::after {
              content: "%";
              font-size: 1.0rem;
            }
          }
        }
      }
    }
  }
}