page-configuration {
  ion-content {
    .navigation {
      padding: 10% 20%;

      button {
        margin: 4.0rem 0;
  
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }  
  }
}